*{
    margin: 0;
    padding: 0; 
 }
body{
     font-family: sans-serif;
     overflow-x: hidden;
     background-image: url('gambar/film5.jpg');
     background-size: cover; 
     justify-content: center; 
     align-items: center; 
     position: relative;
     min-height: 100vh;
 }
#ucapan{
     color: yellow;
     font-size: 2rem;
 }
nav{
    display: flex;
    background-color: blue;
    justify-content: space-around;
    color: white;
    height: 50px;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}
nav .logo{
    letter-spacing: 1px;
}
nav ul li .pilih{
    color:white;
    background-color: blue;
    border: none;
    font-size: 1rem;
}
nav ul li .pilih:hover{
    color: red;
}

.menu1{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu1 span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.3s;
    z-index: 7;
}

.menu1 input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -5px;
    opacity: 0;
    z-index:6 ;
}

.menu1 span:nth-child(2){
    transform-origin: 0 0;
}
.menu1 span:nth-child(4){
    transform-origin: 0 100%;
}
.menu1 input:checked~span:nth-child(2){
    background-color: white;
    transform: rotate(45deg) translate(-1px,-1px);
}
.menu1 input:checked~span:nth-child(4){
    background-color: white;
    transform: rotate(-45deg) translate(-1px,0);
}
.menu1 input:checked~span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}

/*ukuran tablet*/
@media screen and (max-width:768px){
    nav ul{
        width: 50%;
    }
}

/*ukuran mobile*/
 
 @media screen and (max-width:576px){
     .menu1{
         display: flex;
     }
     nav ul{
        position: absolute;
        top:0;
        height: 100vh;
        width: 30%;
        right: 0;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        z-index: 2;
        background-color:blue;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }
    nav ul.slide{
        opacity: 1;
        transform: translateX(0);
    } 
} 
footer{
    position: absolute;
    width:100%;
    bottom:0;
    text-align: center;
    color: white;
    padding: 20px;
    background-color: black;
}
img{
    margin-top: 30px;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}
.kat a{
    padding:10px;
    margin-top: 10px;
    color:red;
    text-decoration: none;
}
