.atas{
    padding: 150px 0;
    background-color: rgb(176, 218, 255);
    color: rgb(65, 65, 65);
}
.atas img{
    width: 150px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 3px 5px gray;
    margin-bottom: 10px;
}
.atas div h2{
    margin-bottom: 10px;
}
.atas div p{
    font-size: 15px;
}
.atas div{
    padding: 0 50px;
}
#contact{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}
.container h3{
    text-align: center;
}
.colom-contact{
    width: 300px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 50px 10px;
}
.colom-contact h4{
    border-bottom: 1px solid;
}
.foto img{
    width: 200px;
    height: 280px;
    border-radius: 50px;
    /* align-items: center; */
}
/* .foto h3{
    
} */
.foto{
    padding: 50px 0;
    text-align: center;
}