*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
    font-family: sans-serif;
    /* nyembunyiin x, body fix*/
    overflow-x: hidden;
}
header>div{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: blue;
    background:linear-gradient(to right,rgb(22, 104, 197),rgb(57, 206, 206));
    color: aliceblue;
}
nav{
    display: flex;
    background:linear-gradient(to right,rgb(35, 113, 202),rgb(57, 206, 206));
    justify-content: space-around;
    padding: 25px 0;
    color: aliceblue;
}
nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
}
nav ul li a:hover{
    color: skyblue;
}

/* Hamburger menu */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}
.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    /* agar checkbox didepan ga ketutup span */
    z-index: 2;
}
.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: aliceblue;
    border-radius: 3px;
    transition: 0.3s;
}
/* Animasi menu humburger */
.menu-toggle span:nth-child(2){
    /* untuk putar */
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
    transform-origin: 0 0;
}
.menu-toggle input:checked ~ span:nth-child(2){
    background-color: whitesmoke;
    transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(3){
    /* Perkecil sampai hilang */
    transform: scale(0);
}
.menu-toggle input:checked ~ span:nth-child(4){
    background-color: whitesmoke;
    transform: rotate(-45deg) translate(-2px, 0);
}

/* responsive breakpoint */

/* size tablet */
@media screen and (max-width: 768px){
    nav ul{
        width: 50%; 
    }
}

/* size mobile */
@media screen and (max-width: 576px){
    .menu-toggle{
        display: flex;
    }
    nav ul{
        /* display: none; */
        position: absolute;
        width: 50%;
        right: 0;
        top: 39px;
        /* vh = viewport height untuk tinggi nemyesuaikan perangkat */
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        /* z-index: -1; */
        /* background-color: blue; */
        background:linear-gradient(to right,rgb(22, 104, 197),rgb(57, 206, 206));
        flex-direction: column;
        /* untuk sumbu X */
        transform: translateX(100%);
        transition: all 0.8s;
        opacity: 0;
    }

    /* nav ul yang punya kelas slide */
    nav ul.slide{
        transform: translateX(0);
        opacity: 1;
    }
    /* nav ul.slide:hover{
        display: block;
        background-color: black;
    } */
}

/* #cuaca{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */