/* Tampilan Awal Beranda */
body {
    font-family: sans-serif;
    margin: 0;
    background-image: url('..//beranda/faruk-kaymak-CNVvDjVDiVI-unsplash.jpg');
}

@media screen and (max-width: 1080px) {}

header {
    display: flex;
    background-color: #48dbfb;
    align-items: center;
    gap: 24px;
    width: auto;
}

#logo {
    width: 150px;
    margin-left: 20px;
}

.navigation {
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 0;
    list-style: none;
}

.navigation a {
    display: flex;
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navigation a:hover {
    background-color: #0abde3;
    padding: 40px;
    border-radius: 20px;
}

.jadwal-sholat{
    display: flex;
    background-color: #ecf0f1;
    align-items: center;
}

#jadwal-sholat-sekarang{
    align-items: center;
    display: flex;
    background-image: url('../beranda/ice_age.png');
    list-style: none;
    font-size: 16px;
    gap: 28px;
}

#id-kota{
    display: flex;
    align-self: center;
    font-size: 16px;
    margin-left: 40px;
    border-radius: 16px;
    padding: 8px 0px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

#id-kota:focus{
    border-radius: 16px;
    box-shadow: #3498db;
}

.jadwal-sholat>form{
    display: flex;
    align-items: center;
    margin-left: 270px;
    gap: 4px;
}

.jadwal-sholat>form>input{
    padding: 2px 8px;
    border-radius: 8px;
    outline: none;
}

.jadwal-sholat>form>button{
    background-color: white;
    padding: 2px 4px;
    border-radius: 10px;
    cursor: pointer;
}

#waktu-sholat{
    display: flex;
    gap: 35px;
    list-style: none;
    background-image: url('../beranda/ice_age.png');
    margin-top: 1px;
    height: 28px;
    text-align: center;
}

footer {
    display: flex;
    flex-flow: row wrap;
    background-color: black;
    justify-content: center;
    margin-top: 30px;
}

footer div {
    margin: 5px;
}

footer>div p {
    display: flex;
    color: whitesmoke;
    font-size: medium;
    font-style: oblique;
    text-align: center;
    justify-content: center;
}

footer>div ul {
    display: flex;
    justify-content: center;
    margin-left: -50px;
}

footer>div>ul li {
    display: flex;
    list-style: none;
    display: inline;
}

footer>div>ul img {
    display: flex;
    width: 50px;
    display: inline;
    margin: 10px;
}

.footerDesign{
    display: flex;
    background-color: #48dbfb;
    font-weight: bold;
    font-style: inherit;
    align-items: center;
    text-align: center;
    margin-top: 0;
}

.wrap{
    width: 100%;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    padding: 10px;
    margin: 10px;
    background: white;
    flex: 250px;
    border: 2px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    border-radius: 5px;
    text-align: center;
  }

  section {
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
  }

  p{
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
  }

  marquee{
      color: white;
  }