body{
    background: url(./background1.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .apaaja{
    background: url(./background2.jpg);
    background-size: 100% 100%;
    box-shadow:  0 4px 6px rgb(0 0 0 / 10%), 0 10px 18px rgb(0 0 0 / 10%);
    border-radius: 15px;
    padding: 0px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    width: 80%;
    height: 400px;

  }


li{
    display: list-item;

}
header img{
    margin-top: 5px;
    border-radius: 16px;
}

header{
    text-align: center;
    color: black;
}

header .judul{
    font-size: 17pt;
}

header .deskripsi{
    font-size: 11pt;
}

.wrap {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
nav.menu ul {
    display: flex;
    color: white;
    list-style: none;
    padding: 0px;
    margin: 0 0 0;
    background: silver;
    -webkit-box-shadow: 1px 1px 1px 1px rgb(117, 116, 116);
    -moz-box-shadow: 1px 1px 1px 1px rgb(117, 116, 116);
    box-shadow: 5px 5px 5px  rgb(117, 116, 116);
    border-radius: 15px;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: slategray;
    width: 100%;
    flex-direction: row;
}
nav.menu ul li{
    margin-top: 1px;
    float: left;
    flex: 1;
}

nav.menu ul a{
    padding: 10px;
    display: block;
    font-weight: 600;
    font-size: 16px;
    color: snow;
    text-transform: uppercase;
    transition: a11 0.5s ease;
    text-decoration: none;
    text-align: center;
}

nav,menu input{
    padding-right: 20px;
}

.dataAnimePopuler{
    display: flex;
    flex-wrap: nowrap;
    justify-content: stretch;
    text-align: center;
    flex-flow: row wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

.dataAnimePopuler > * {
    flex-basis: 20rem;
    flex-shrink: 0; 
}
  
.dataAnimePopuler img{
    border-radius: 15px;
    border: solid black;
}
  
  
.dataAnimePopuler h4{
    color:rgb(158, 217, 226);
    text-align: center;
}
  
.dataAnimePopuler h5{
    color: darkred;
}
.dataAnimePopuler a{
    text-decoration: none;
}

.dataAnimePopuler div{
    margin-left: 25px;
    margin-top: 10px;
    border: solid 3px;
    border-radius: 20px;
}

.dataAnimePopuler  a{
    border: solid;
    border-color: black;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: orange;
    text-decoration: none;
    color: red;
}


.dataAnimePopuler h3{
    color: red;
}

.dataAnimePopuler h4{
    color: black;
}

#navigation{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    box-shadow:  0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 20px;
}