html,body {
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}
header{
    display: flex;
    background-color: aquamarine;
    color: black;
    padding: 16px 45px;
    align-items: center;
    gap: 16px;
    position: sticky;
    top: 0;
    justify-content: space-between;
}

#logo span {
    font-size: 40pt;
    font-family: fantasy;
    color: white;
    font-variant-caps: unset;
}
#logo-merdeka{
    width: 30%;
    display: flex;
    align-items: center;
}
#penelusuran{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
}
#container-logo-merdeka{
    display: flex;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    padding: 0 64px;
    border: 1px solid;
    flex-wrap: wrap;
}
#ikon-akun{
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 34px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    margin-left: auto;
}
#formulir{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
#input-berita{
    width: 172px;
    height: auto;
    padding: 4px;
}
button{
    width: 172px;
}
/* main */


main{
    padding: 0 64px;
}
#container div{
    display: flex;
    background-color: white;
    font-size: 10pt;
}
#out-put{
    padding: 64px;
    text-align: center;
    background-color: initial;
}
.berita-utama{
    color: black;
    background-color: whitesmoke;

}
.berita-utama img{
    width: 736px;
    margin-top: 32px;
}

.berita-utama p{
    display: flex;
    flex-direction: column;
}


#loading {
    margin:0px auto;
    width:100px;
    /* position: absolute; */
    border: 8px solid rgb(1, 1, 22);
    border-top: 8px solid transparent;
    border-radius: 999px;
    width: 40px;
    height: 40px;
    animation: spin-1 2s infinite linear;
  }
@keyframes spin-1 {
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}


/* responsive */
@media( max-width:1000px){
    .berita-utama img{
        width: 256px;
    }
    #container{
        display: flex;
        flex-direction: column;
        /* flex-flow: column; */
    }  
    #out-put {
        padding: 32px;
        margin: 0;
        text-align: center;
        background-color: initial;
    }
    header {
        padding: 16px 16px;
        gap: 16px;
    }
    main{
        padding:0 32px;
    }
}

footer{
    background-color: darkolivegreen;
}
#footer-container {
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: column;
    align-content: center;
}
#footer-mide>a{
    color: black;
}
#footer-botom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
