nav a{
    color:lightblue;
    font-size: 1rem;
}
#search-movie{
    color: black;
    text-align: center;
    padding: 20px 20px;;
}
form{
    margin-top: 30px;
    border:3px solid navy;
    height: 40px;
    width:50%;
    display: flex;
    justify-content: space-evenly;
}
form input{
    width:90%;
    outline:none;
    border: 0;
    background-color: transparent;
}
form i{
    font-size: 25px;
    color:navy;
    border-style: hidden;
}
form input:hover{
    background-color: transparent;
}
