body {
    font-family: sans-serif;
    margin: 0;
}

header {
    display: flex;
    background-image: url('../halamanBacaQuran/circuit.png');
    align-items: center;
    width: auto;
    font-weight: bolder;
    font-size: 20px;
    gap: 400px;
}

#logo {
    display: flex;
    font-size: 3rem;
    margin-left: 86px;
}

#beranda {
    text-decoration: none;
    color: black;
}

#beranda:hover {
    color: cornflowerblue;
}

#kal-logo {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    background-image: url('../halamanBacaQuran/images\ \(1\).jpg');
}

#kaligrafi {
    width: 380px;
    margin-top: 50px;
    border-radius: 50px;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form>input {
    padding: 4px 8px;
    border-radius: 6px;
    outline: none;
}

form>button {
    margin-top: 10px;
    padding: 4px 20px;
    border-radius: 19px;
    display: flex;
    background-color: green;
    color: white;
    cursor: pointer;
}

form>button:hover {
    color: yellow;
}

.outputAyat {
    display: flex;
    background-color: white;
    margin-top: 30px;
    flex-direction: column;
    border: 1px solid gray;
    padding: 30px;
    border-radius: 16px;
    margin: 10px;
}

#output {
    font-size: 2rem;
    font-family: 'Decotype Thuluth II';
    text-align: end;
}

#surat {
    display: flex;
    align-self: center;
    justify-content: center;
}

#div-ayat {
    display: flex;
    background-image: url('..//halamanBacaQuran/oriental.png');
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
}

#div-ayat>nav {
    background-color: #ffffff;
    margin: 18px;
}

#selects {
    padding: 10px;
    display: flex;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 16px;
    margin: 10px;
    text-align: center;
}

#tampil-ayat {
    font-size: 18px;
    font-family: 'Decotype Thuluth II';
    text-align: end;
    margin-right: 20px;
}

.wrap{
    width: 100%;
}

footer {
    display: flex;
    flex-flow: row wrap;
    background-color: black;
    justify-content: center;
    margin-top: 30px;
}

footer div {
    margin: 5px;
}

footer>div p {
    display: flex;
    color: whitesmoke;
    font-size: medium;
    font-style: oblique;
    text-align: center;
    justify-content: center;
}

footer>div ul {
    display: flex;
    justify-content: center;
    margin-left: -50px;
}

footer>div>ul li {
    display: flex;
    list-style: none;
    display: inline;
}

footer>div>ul>li a:hover{
    text-decoration: none;
}

footer>div>ul img {
    display: flex;
    width: 50px;
    display: inline;
    margin: 10px;
}

.footerDesign{
    display: flex;
    background-color: #3ae374;
    font-weight: bold;
    font-style: inherit;
    align-items: center;
    text-align: center;
    height: 38px;
    margin-top: 0;
}